pandas==1.2.4
pytest
pylint
pydocstyle
numpy
matplotlib
scipy
opencv-python
pillow
pyinstaller
pymongo
pyqt5
pytesseract
virtualbox
pyyaml
requests
jupyter
xlib
xlrd
lmfit
openpyxl
numexpr
fastapi
tensorflow-gpu
tqdm
seaborn


# download from here
# `https://github.com/simonflueckiger/tesserocr-windows_build/releases`
# and `pip install *.whl`
#
# see more options at `https://github.com/sirfz/tesserocr`
tesserocr


# download SDK for Virtual Box from `https://www.virtualbox.org/wiki/Downloads`
# set the environment variable VBOX_INSTALL_PATH to 'C:\Program Files\Oracle\VirtualBox' (without quotes)
# and do the `python vboxapisetup.py install`
